@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");

* {
  font-family: "Montaga", serif;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-action {
  text-align: center;
}

.bg-left-side {
  background: url("../../assets/images/lookingCar/auto-left.png"),
    linear-gradient(rgba(239, 23, 33, 94), rgba(239, 23, 33, 94));
  background-blend-mode: overlay;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-right-side {
  background: url("../../assets/images/lookingCar/auto-right.png"),
    linear-gradient(rgba(61, 58, 59, 0.99), rgba(61, 58, 59, 0.99));
  background-blend-mode: overlay;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

/* for dark and light mode design */

.mode.light {
  color: #111;
}

.mode.dark {
  color: #ffffff;
}

.bg.dark {
  background-color: white;
}

.black.dark {
  background-color: #121212;
}

.card.dark {
  background-color: #1a1919;
}

.text.dark {
  color: #121212;
}

.comment.dark {
  color: antiquewhite;
}

.white.dark {
  color: white;
}

.hover.dark :hover {
  border: #ef1721;
}

/* Default light theme styles */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme styles */
[data-theme="dark"] body {
  background-color: #121212;
  color: #ffffff;
}

/* DynamicTestimonial.css */

.testimonial-container {
  margin: 0 auto;
  padding: 20px;
}

.testimonial-slide {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-content {
  padding: 20px;
}

.testimonial-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.testimonial-author {
  font-size: 16px;
  font-style: italic;
}
